.navbar {
  padding-bottom: 0;
  border-bottom: 1px solid #eee;

  & > .navbar-brand {
    & img {
      max-width: 3rem;
      margin-bottom: 0.3em;
      margin-right: 0.5em;
      margin-top: 0.3em;
    }
  }

  & .nav-item {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;

    & > a {
      margin-bottom: 5px;
    }

    & .active {
      margin-bottom: 0;
      border-bottom: #0848a5 5px solid;
    }
  }
}

@media (min-width: 768px) {
  .navbar .nav-item {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item {
    font-size: 1.2rem;
  }
}
